@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="col-md-6 offset-md-3">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-link">
                        <a class="nav-link" href="/Identity/Account/Login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="Nav-link" href="/Identity/Account/Register">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>